* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Header styling */

#blurb {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#header_image {
  height: 30vh;
  width: 100vw;
  object-fit: cover;
}

main h1 {
  text-align: center;
  padding: 1rem;
}
/* Content styling */

main {
  display: flex;
  flex-direction: column;
  border-bottom: black 5px solid;
}

main a {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

main section ul {
  list-style-type: none;
  display: flex;
  padding: 1rem;
  justify-content: center;
}

main section ul li {
  padding: 1rem;
}

.tablet {
  display: none;
}

.desktop {
  display: none;
}

 /* Blog styling */

h2 {
  text-align: center;
}

article {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 1rem;
  border: 1px black solid;
}

/* Footer Styling */

footer {
  display: flex;
  justify-content: center;
  background-color: aquamarine;
}

footer a {
  padding: 1rem;
}

/* Tablet styling */

@media only screen and (min-width: 700px) {
  .mobile {
    display:none;
  }
  .tablet {
    display: block;
  }
  main {
    flex-direction: row;
    justify-content: space-between;
  }
  #blurb {
    padding: 1rem;
  }
}

@media only screen and (min-width: 1001px) {
  .tablet {
    display:none;
  }
  .desktop {
    display: block;
}