* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Header styling */

header {
  display: flex;
  flex-direction: column;
}

#header_image {
  height: 30vh;
  width: 100%;
  object-fit: cover;
}

header h1 {
  text-align: center;
  padding: 1rem 0 0;
  
}
/* Content styling */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-bottom: black 5px solid;
}

main a {
  padding: 1rem 0 0;
}

main aside ul {
  list-style-type: none;
  display: flex;
  padding: 1rem;
}

main aside ul li {
  padding: 1rem;
  justify-content: space-around;
}
/* Blog styling */

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

article {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 1rem;
  border: 1px black solid;
}

/* Footer Styling */

footer {
  display: flex;
  justify-content: center;
  background-color: aquamarine;
}

footer a {
  padding: 1rem;
}